1 VERSIONINFO
FILEVERSION 2, 4, 1, 0
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileDescription", "The cross platform IA-32 emulator"
   VALUE "FileVersion", "2.4.1"
   VALUE "LegalCopyright", "GNU Lesser General Public License"
   VALUE "ProductName", "Bochs"
   VALUE "ProductVersion", "Build from CVS snapshot on June 7, 2009"
  }
 }
}
